<template>
  <el-dialog
    :title="!dataForm.id ? '新增' : '修改'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px">
#foreach($column in $columns)
#if($column.columnName != $pk.columnName && $column.columnName != "create_time" && $column.columnName != "update_time")
    <el-form-item label="${column.comments}" prop="${column.attrname}">
#if($column.attrType == "Date")
        <el-date-picker v-model="dataForm.${column.attrname}" type="datetime" placeholder="${column.comments}" yumtao-attrType="${column.attrType}" yumtao-attrName="${column.columnName}"/>
#elseif($column.attrType == "Integer")
        <el-select v-model="dataForm.${column.attrname}" class="filter-item" placeholder="${column.comments}">
            <el-option v-for="item in this.$parent.${column.attrname}Arr" :key="item.value" :label="item.label" :value="item.value"/>
        </el-select>
#else
        <el-input v-model="dataForm.${column.attrname}" placeholder="${column.comments}" yumtao-attrType="${column.attrType}" yumtao-attrName="${column.columnName}"></el-input>
#end
    </el-form-item>
#end
#end
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
    import {
        fetchList,
        getInfo,
        save,
        update,
        deleteFun
    } from '@/api/${pathName}'
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
#foreach($column in $columns)
#if($column.columnName == $pk.columnName)
          ${column.attrname}: 0,
#else
          ${column.attrname}: ''#if($velocityCount != $columns.size()),#end

#end
#end
        },
        dataRule: {
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
          ${column.attrname}: [
            { required: true, message: '${column.comments}不能为空', trigger: 'blur' }
          ]#if($velocityCount != $columns.size()),#end

#end
#end
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.${pk.attrname} = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.${pk.attrname}) {
              const request = {}
              request.${pk.attrname} = this.dataForm.${pk.attrname}
              console.log('getInfo request', request)
              getInfo(request).then(response => {
                  var data = response.data
                  /* eslint-disable */
                  data = eval('(' + data + ')')
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
                  this.dataForm.${column.attrname} = data.${column.attrname}
#end
#end
                })
           }
        })
      },
      // 表单提交
      dataFormSubmit () {
        #[[this.$refs['dataForm'].validate((valid) => {]]#
          if (valid) {
              if (this.dataForm.${pk.attrname}) {
                  console.log('update request', this.dataForm)
                  update(this.dataForm).then(() => {
                      this.visible = false
                      this.$notify({
                          title: 'Success',
                          message: 'Save Successfully',
                          type: 'success',
                          duration: 2000
                      })
                      this.$parent.getDataList()
                  })
              } else {
                  console.log('save request', this.dataForm)
                  save(this.dataForm).then(() => {
                      this.visible = false
                      this.$notify({
                          title: 'Success',
                          message: 'Save Successfully',
                          type: 'success',
                          duration: 2000
                      })
                      this.$parent.getDataList()
                  })
              }
          }
        })
      }
    }
  }
</script>
