package ${package}.${moduleName}.dao.base;

import tk.mybatis.mapper.common.Mapper;
import tk.mybatis.mapper.common.MySqlMapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface IBaseMapper<T>  extends Mapper<T>, MySqlMapper<T> {
}
