package ${package}.${moduleName}.param.req;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;
import lombok.Data;
import ${package}.${moduleName}.model.common.PageDTO;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
public class ${className}PageRequest extends PageDTO {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
	private $column.attrType $column.attrname;
#end

}
